//
// Glyphicons for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>
// Import the fonts
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('@{icon-font-path}@{icon-font-name}.eot');
    src: url('@{icon-font-path}@{icon-font-name}.eot?#iefix') format('embedded-opentype'), url('@{icon-font-path}@{icon-font-name}.woff2') format('woff2'), url('@{icon-font-path}@{icon-font-name}.woff') format('woff'), url('@{icon-font-path}@{icon-font-name}.ttf') format('truetype'), url('@{icon-font-path}@{icon-font-name}.svg#@{icon-font-svg-id}') format('svg');
}
// Catchall baseclass
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// Individual icons
.glyphicon-asterisk {
    &:before {
        content: "\002a";
    }
}
.glyphicon-plus {
    &:before {
        content: "\002b";
    }
}
.glyphicon-euro, .glyphicon-eur {
    &:before {
        content: "\20ac";
    }
}
.glyphicon-minus {
    &:before {
        content: "\2212";
    }
}
.glyphicon-cloud {
    &:before {
        content: "\2601";
    }
}
.glyphicon-envelope {
    &:before {
        content: "\2709";
    }
}
.glyphicon-pencil {
    &:before {
        content: "\270f";
    }
}
.glyphicon-glass {
    &:before {
        content: "\e001";
    }
}
.glyphicon-music {
    &:before {
        content: "\e002";
    }
}
.glyphicon-search {
    &:before {
        content: "\e003";
    }
}
.glyphicon-heart {
    &:before {
        content: "\e005";
    }
}
.glyphicon-star {
    &:before {
        content: "\e006";
    }
}
.glyphicon-star-empty {
    &:before {
        content: "\e007";
    }
}
.glyphicon-user {
    &:before {
        content: "\e008";
    }
}
.glyphicon-film {
    &:before {
        content: "\e009";
    }
}
.glyphicon-th-large {
    &:before {
        content: "\e010";
    }
}
.glyphicon-th {
    &:before {
        content: "\e011";
    }
}
.glyphicon-th-list {
    &:before {
        content: "\e012";
    }
}
.glyphicon-ok {
    &:before {
        content: "\e013";
    }
}
.glyphicon-remove {
    &:before {
        content: "\e014";
    }
}
.glyphicon-zoom-in {
    &:before {
        content: "\e015";
    }
}
.glyphicon-zoom-out {
    &:before {
        content: "\e016";
    }
}
.glyphicon-off {
    &:before {
        content: "\e017";
    }
}
.glyphicon-signal {
    &:before {
        content: "\e018";
    }
}
.glyphicon-cog {
    &:before {
        content: "\e019";
    }
}
.glyphicon-trash {
    &:before {
        content: "\e020";
    }
}
.glyphicon-home {
    &:before {
        content: "\e021";
    }
}
.glyphicon-file {
    &:before {
        content: "\e022";
    }
}
.glyphicon-time {
    &:before {
        content: "\e023";
    }
}
.glyphicon-road {
    &:before {
        content: "\e024";
    }
}
.glyphicon-download-alt {
    &:before {
        content: "\e025";
    }
}
.glyphicon-download {
    &:before {
        content: "\e026";
    }
}
.glyphicon-upload {
    &:before {
        content: "\e027";
    }
}
.glyphicon-inbox {
    &:before {
        content: "\e028";
    }
}
.glyphicon-play-circle {
    &:before {
        content: "\e029";
    }
}
.glyphicon-repeat {
    &:before {
        content: "\e030";
    }
}
.glyphicon-refresh {
    &:before {
        content: "\e031";
    }
}
.glyphicon-list-alt {
    &:before {
        content: "\e032";
    }
}
.glyphicon-lock {
    &:before {
        content: "\e033";
    }
}
.glyphicon-flag {
    &:before {
        content: "\e034";
    }
}
.glyphicon-headphones {
    &:before {
        content: "\e035";
    }
}
.glyphicon-volume-off {
    &:before {
        content: "\e036";
    }
}
.glyphicon-volume-down {
    &:before {
        content: "\e037";
    }
}
.glyphicon-volume-up {
    &:before {
        content: "\e038";
    }
}
.glyphicon-qrcode {
    &:before {
        content: "\e039";
    }
}
.glyphicon-barcode {
    &:before {
        content: "\e040";
    }
}
.glyphicon-tag {
    &:before {
        content: "\e041";
    }
}
.glyphicon-tags {
    &:before {
        content: "\e042";
    }
}
.glyphicon-book {
    &:before {
        content: "\e043";
    }
}
.glyphicon-bookmark {
    &:before {
        content: "\e044";
    }
}
.glyphicon-print {
    &:before {
        content: "\e045";
    }
}
.glyphicon-camera {
    &:before {
        content: "\e046";
    }
}
.glyphicon-font {
    &:before {
        content: "\e047";
    }
}
.glyphicon-bold {
    &:before {
        content: "\e048";
    }
}
.glyphicon-italic {
    &:before {
        content: "\e049";
    }
}
.glyphicon-text-height {
    &:before {
        content: "\e050";
    }
}
.glyphicon-text-width {
    &:before {
        content: "\e051";
    }
}
.glyphicon-align-left {
    &:before {
        content: "\e052";
    }
}
.glyphicon-align-center {
    &:before {
        content: "\e053";
    }
}
.glyphicon-align-right {
    &:before {
        content: "\e054";
    }
}
.glyphicon-align-justify {
    &:before {
        content: "\e055";
    }
}
.glyphicon-list {
    &:before {
        content: "\e056";
    }
}
.glyphicon-indent-left {
    &:before {
        content: "\e057";
    }
}
.glyphicon-indent-right {
    &:before {
        content: "\e058";
    }
}
.glyphicon-facetime-video {
    &:before {
        content: "\e059";
    }
}
.glyphicon-picture {
    &:before {
        content: "\e060";
    }
}
.glyphicon-map-marker {
    &:before {
        content: "\e062";
    }
}
.glyphicon-adjust {
    &:before {
        content: "\e063";
    }
}
.glyphicon-tint {
    &:before {
        content: "\e064";
    }
}
.glyphicon-edit {
    &:before {
        content: "\e065";
    }
}
.glyphicon-share {
    &:before {
        content: "\e066";
    }
}
.glyphicon-check {
    &:before {
        content: "\e067";
    }
}
.glyphicon-move {
    &:before {
        content: "\e068";
    }
}
.glyphicon-step-backward {
    &:before {
        content: "\e069";
    }
}
.glyphicon-fast-backward {
    &:before {
        content: "\e070";
    }
}
.glyphicon-backward {
    &:before {
        content: "\e071";
    }
}
.glyphicon-play {
    &:before {
        content: "\e072";
    }
}
.glyphicon-pause {
    &:before {
        content: "\e073";
    }
}
.glyphicon-stop {
    &:before {
        content: "\e074";
    }
}
.glyphicon-forward {
    &:before {
        content: "\e075";
    }
}
.glyphicon-fast-forward {
    &:before {
        content: "\e076";
    }
}
.glyphicon-step-forward {
    &:before {
        content: "\e077";
    }
}
.glyphicon-eject {
    &:before {
        content: "\e078";
    }
}
.glyphicon-chevron-left {
    &:before {
        content: "\e079";
    }
}
.glyphicon-chevron-right {
    &:before {
        content: "\e080";
    }
}
.glyphicon-plus-sign {
    &:before {
        content: "\e081";
    }
}
.glyphicon-minus-sign {
    &:before {
        content: "\e082";
    }
}
.glyphicon-remove-sign {
    &:before {
        content: "\e083";
    }
}
.glyphicon-ok-sign {
    &:before {
        content: "\e084";
    }
}
.glyphicon-question-sign {
    &:before {
        content: "\e085";
    }
}
.glyphicon-info-sign {
    &:before {
        content: "\e086";
    }
}
.glyphicon-screenshot {
    &:before {
        content: "\e087";
    }
}
.glyphicon-remove-circle {
    &:before {
        content: "\e088";
    }
}
.glyphicon-ok-circle {
    &:before {
        content: "\e089";
    }
}
.glyphicon-ban-circle {
    &:before {
        content: "\e090";
    }
}
.glyphicon-arrow-left {
    &:before {
        content: "\e091";
    }
}
.glyphicon-arrow-right {
    &:before {
        content: "\e092";
    }
}
.glyphicon-arrow-up {
    &:before {
        content: "\e093";
    }
}
.glyphicon-arrow-down {
    &:before {
        content: "\e094";
    }
}
.glyphicon-share-alt {
    &:before {
        content: "\e095";
    }
}
.glyphicon-resize-full {
    &:before {
        content: "\e096";
    }
}
.glyphicon-resize-small {
    &:before {
        content: "\e097";
    }
}
.glyphicon-exclamation-sign {
    &:before {
        content: "\e101";
    }
}
.glyphicon-gift {
    &:before {
        content: "\e102";
    }
}
.glyphicon-leaf {
    &:before {
        content: "\e103";
    }
}
.glyphicon-fire {
    &:before {
        content: "\e104";
    }
}
.glyphicon-eye-open {
    &:before {
        content: "\e105";
    }
}
.glyphicon-eye-close {
    &:before {
        content: "\e106";
    }
}
.glyphicon-warning-sign {
    &:before {
        content: "\e107";
    }
}
.glyphicon-plane {
    &:before {
        content: "\e108";
    }
}
.glyphicon-calendar {
    &:before {
        content: "\e109";
    }
}
.glyphicon-random {
    &:before {
        content: "\e110";
    }
}
.glyphicon-comment {
    &:before {
        content: "\e111";
    }
}
.glyphicon-magnet {
    &:before {
        content: "\e112";
    }
}
.glyphicon-chevron-up {
    &:before {
        content: "\e113";
    }
}
.glyphicon-chevron-down {
    &:before {
        content: "\e114";
    }
}
.glyphicon-retweet {
    &:before {
        content: "\e115";
    }
}
.glyphicon-shopping-cart {
    &:before {
        content: "\e116";
    }
}
.glyphicon-folder-close {
    &:before {
        content: "\e117";
    }
}
.glyphicon-folder-open {
    &:before {
        content: "\e118";
    }
}
.glyphicon-resize-vertical {
    &:before {
        content: "\e119";
    }
}
.glyphicon-resize-horizontal {
    &:before {
        content: "\e120";
    }
}
.glyphicon-hdd {
    &:before {
        content: "\e121";
    }
}
.glyphicon-bullhorn {
    &:before {
        content: "\e122";
    }
}
.glyphicon-bell {
    &:before {
        content: "\e123";
    }
}
.glyphicon-certificate {
    &:before {
        content: "\e124";
    }
}
.glyphicon-thumbs-up {
    &:before {
        content: "\e125";
    }
}
.glyphicon-thumbs-down {
    &:before {
        content: "\e126";
    }
}
.glyphicon-hand-right {
    &:before {
        content: "\e127";
    }
}
.glyphicon-hand-left {
    &:before {
        content: "\e128";
    }
}
.glyphicon-hand-up {
    &:before {
        content: "\e129";
    }
}
.glyphicon-hand-down {
    &:before {
        content: "\e130";
    }
}
.glyphicon-circle-arrow-right {
    &:before {
        content: "\e131";
    }
}
.glyphicon-circle-arrow-left {
    &:before {
        content: "\e132";
    }
}
.glyphicon-circle-arrow-up {
    &:before {
        content: "\e133";
    }
}
.glyphicon-circle-arrow-down {
    &:before {
        content: "\e134";
    }
}
.glyphicon-globe {
    &:before {
        content: "\e135";
    }
}
.glyphicon-wrench {
    &:before {
        content: "\e136";
    }
}
.glyphicon-tasks {
    &:before {
        content: "\e137";
    }
}
.glyphicon-filter {
    &:before {
        content: "\e138";
    }
}
.glyphicon-briefcase {
    &:before {
        content: "\e139";
    }
}
.glyphicon-fullscreen {
    &:before {
        content: "\e140";
    }
}
.glyphicon-dashboard {
    &:before {
        content: "\e141";
    }
}
.glyphicon-paperclip {
    &:before {
        content: "\e142";
    }
}
.glyphicon-heart-empty {
    &:before {
        content: "\e143";
    }
}
.glyphicon-link {
    &:before {
        content: "\e144";
    }
}
.glyphicon-phone {
    &:before {
        content: "\e145";
    }
}
.glyphicon-pushpin {
    &:before {
        content: "\e146";
    }
}
.glyphicon-usd {
    &:before {
        content: "\e148";
    }
}
.glyphicon-gbp {
    &:before {
        content: "\e149";
    }
}
.glyphicon-sort {
    &:before {
        content: "\e150";
    }
}
.glyphicon-sort-by-alphabet {
    &:before {
        content: "\e151";
    }
}
.glyphicon-sort-by-alphabet-alt {
    &:before {
        content: "\e152";
    }
}
.glyphicon-sort-by-order {
    &:before {
        content: "\e153";
    }
}
.glyphicon-sort-by-order-alt {
    &:before {
        content: "\e154";
    }
}
.glyphicon-sort-by-attributes {
    &:before {
        content: "\e155";
    }
}
.glyphicon-sort-by-attributes-alt {
    &:before {
        content: "\e156";
    }
}
.glyphicon-unchecked {
    &:before {
        content: "\e157";
    }
}
.glyphicon-expand {
    &:before {
        content: "\e158";
    }
}
.glyphicon-collapse-down {
    &:before {
        content: "\e159";
    }
}
.glyphicon-collapse-up {
    &:before {
        content: "\e160";
    }
}
.glyphicon-log-in {
    &:before {
        content: "\e161";
    }
}
.glyphicon-flash {
    &:before {
        content: "\e162";
    }
}
.glyphicon-log-out {
    &:before {
        content: "\e163";
    }
}
.glyphicon-new-window {
    &:before {
        content: "\e164";
    }
}
.glyphicon-record {
    &:before {
        content: "\e165";
    }
}
.glyphicon-save {
    &:before {
        content: "\e166";
    }
}
.glyphicon-open {
    &:before {
        content: "\e167";
    }
}
.glyphicon-saved {
    &:before {
        content: "\e168";
    }
}
.glyphicon-import {
    &:before {
        content: "\e169";
    }
}
.glyphicon-export {
    &:before {
        content: "\e170";
    }
}
.glyphicon-send {
    &:before {
        content: "\e171";
    }
}
.glyphicon-floppy-disk {
    &:before {
        content: "\e172";
    }
}
.glyphicon-floppy-saved {
    &:before {
        content: "\e173";
    }
}
.glyphicon-floppy-remove {
    &:before {
        content: "\e174";
    }
}
.glyphicon-floppy-save {
    &:before {
        content: "\e175";
    }
}
.glyphicon-floppy-open {
    &:before {
        content: "\e176";
    }
}
.glyphicon-credit-card {
    &:before {
        content: "\e177";
    }
}
.glyphicon-transfer {
    &:before {
        content: "\e178";
    }
}
.glyphicon-cutlery {
    &:before {
        content: "\e179";
    }
}
.glyphicon-header {
    &:before {
        content: "\e180";
    }
}
.glyphicon-compressed {
    &:before {
        content: "\e181";
    }
}
.glyphicon-earphone {
    &:before {
        content: "\e182";
    }
}
.glyphicon-phone-alt {
    &:before {
        content: "\e183";
    }
}
.glyphicon-tower {
    &:before {
        content: "\e184";
    }
}
.glyphicon-stats {
    &:before {
        content: "\e185";
    }
}
.glyphicon-sd-video {
    &:before {
        content: "\e186";
    }
}
.glyphicon-hd-video {
    &:before {
        content: "\e187";
    }
}
.glyphicon-subtitles {
    &:before {
        content: "\e188";
    }
}
.glyphicon-sound-stereo {
    &:before {
        content: "\e189";
    }
}
.glyphicon-sound-dolby {
    &:before {
        content: "\e190";
    }
}
.glyphicon-sound-5-1 {
    &:before {
        content: "\e191";
    }
}
.glyphicon-sound-6-1 {
    &:before {
        content: "\e192";
    }
}
.glyphicon-sound-7-1 {
    &:before {
        content: "\e193";
    }
}
.glyphicon-copyright-mark {
    &:before {
        content: "\e194";
    }
}
.glyphicon-registration-mark {
    &:before {
        content: "\e195";
    }
}
.glyphicon-cloud-download {
    &:before {
        content: "\e197";
    }
}
.glyphicon-cloud-upload {
    &:before {
        content: "\e198";
    }
}
.glyphicon-tree-conifer {
    &:before {
        content: "\e199";
    }
}
.glyphicon-tree-deciduous {
    &:before {
        content: "\e200";
    }
}
.glyphicon-cd {
    &:before {
        content: "\e201";
    }
}
.glyphicon-save-file {
    &:before {
        content: "\e202";
    }
}
.glyphicon-open-file {
    &:before {
        content: "\e203";
    }
}
.glyphicon-level-up {
    &:before {
        content: "\e204";
    }
}
.glyphicon-copy {
    &:before {
        content: "\e205";
    }
}
.glyphicon-paste {
    &:before {
        content: "\e206";
    }
}
// The following 2 Glyphicons are omitted for the time being because
// they currently use Unicode codepoints that are outside the
// Basic Multilingual Plane (BMP). Older buggy versions of WebKit can't handle
// non-BMP codepoints in CSS string escapes, and thus can't display these two icons.
// Notably, the bug affects some older versions of the Android Browser.
// More info: https://github.com/twbs/bootstrap/issues/10106
// .glyphicon-door                   { &:before { content: "\1f6aa"; } }
// .glyphicon-key                    { &:before { content: "\1f511"; } }
.glyphicon-alert {
    &:before {
        content: "\e209";
    }
}
.glyphicon-equalizer {
    &:before {
        content: "\e210";
    }
}
.glyphicon-king {
    &:before {
        content: "\e211";
    }
}
.glyphicon-queen {
    &:before {
        content: "\e212";
    }
}
.glyphicon-pawn {
    &:before {
        content: "\e213";
    }
}
.glyphicon-bishop {
    &:before {
        content: "\e214";
    }
}
.glyphicon-knight {
    &:before {
        content: "\e215";
    }
}
.glyphicon-baby-formula {
    &:before {
        content: "\e216";
    }
}
.glyphicon-tent {
    &:before {
        content: "\26fa";
    }
}
.glyphicon-blackboard {
    &:before {
        content: "\e218";
    }
}
.glyphicon-bed {
    &:before {
        content: "\e219";
    }
}
.glyphicon-apple {
    &:before {
        content: "\f8ff";
    }
}
.glyphicon-erase {
    &:before {
        content: "\e221";
    }
}
.glyphicon-hourglass {
    &:before {
        content: "\231b";
    }
}
.glyphicon-lamp {
    &:before {
        content: "\e223";
    }
}
.glyphicon-duplicate {
    &:before {
        content: "\e224";
    }
}
.glyphicon-piggy-bank {
    &:before {
        content: "\e225";
    }
}
.glyphicon-scissors {
    &:before {
        content: "\e226";
    }
}
.glyphicon-bitcoin {
    &:before {
        content: "\e227";
    }
}
.glyphicon-btc {
    &:before {
        content: "\e227";
    }
}
.glyphicon-xbt {
    &:before {
        content: "\e227";
    }
}
.glyphicon-yen {
    &:before {
        content: "\00a5";
    }
}
.glyphicon-jpy {
    &:before {
        content: "\00a5";
    }
}
.glyphicon-ruble {
    &:before {
        content: "\20bd";
    }
}
.glyphicon-rub {
    &:before {
        content: "\20bd";
    }
}
.glyphicon-scale {
    &:before {
        content: "\e230";
    }
}
.glyphicon-ice-lolly {
    &:before {
        content: "\e231";
    }
}
.glyphicon-ice-lolly-tasted {
    &:before {
        content: "\e232";
    }
}
.glyphicon-education {
    &:before {
        content: "\e233";
    }
}
.glyphicon-option-horizontal {
    &:before {
        content: "\e234";
    }
}
.glyphicon-option-vertical {
    &:before {
        content: "\e235";
    }
}
.glyphicon-menu-hamburger {
    &:before {
        content: "\e236";
    }
}
.glyphicon-modal-window {
    &:before {
        content: "\e237";
    }
}
.glyphicon-oil {
    &:before {
        content: "\e238";
    }
}
.glyphicon-grain {
    &:before {
        content: "\e239";
    }
}
.glyphicon-sunglasses {
    &:before {
        content: "\e240";
    }
}
.glyphicon-text-size {
    &:before {
        content: "\e241";
    }
}
.glyphicon-text-color {
    &:before {
        content: "\e242";
    }
}
.glyphicon-text-background {
    &:before {
        content: "\e243";
    }
}
.glyphicon-object-align-top {
    &:before {
        content: "\e244";
    }
}
.glyphicon-object-align-bottom {
    &:before {
        content: "\e245";
    }
}
.glyphicon-object-align-horizontal {
    &:before {
        content: "\e246";
    }
}
.glyphicon-object-align-left {
    &:before {
        content: "\e247";
    }
}
.glyphicon-object-align-vertical {
    &:before {
        content: "\e248";
    }
}
.glyphicon-object-align-right {
    &:before {
        content: "\e249";
    }
}
.glyphicon-triangle-right {
    &:before {
        content: "\e250";
    }
}
.glyphicon-triangle-left {
    &:before {
        content: "\e251";
    }
}
.glyphicon-triangle-bottom {
    &:before {
        content: "\e252";
    }
}
.glyphicon-triangle-top {
    &:before {
        content: "\e253";
    }
}
.glyphicon-console {
    &:before {
        content: "\e254";
    }
}
.glyphicon-superscript {
    &:before {
        content: "\e255";
    }
}
.glyphicon-subscript {
    &:before {
        content: "\e256";
    }
}
.glyphicon-menu-left {
    &:before {
        content: "\e257";
    }
}
.glyphicon-menu-right {
    &:before {
        content: "\e258";
    }
}
.glyphicon-menu-down {
    &:before {
        content: "\e259";
    }
}
.glyphicon-menu-up {
    &:before {
        content: "\e260";
    }
}
@-webkit-keyframes swing {
    0%, 30%, 50%, 70%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}
@keyframes swing {
    0%, 30%, 50%, 70%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}
@-webkit-keyframes sonar {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes sonar {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
.sidebar-wrapper {
    width: 260px;
    height: 120%;
    max-height: 120%;
    position: fixed;
    top: 0;
    left: -280px;
    z-index: 999;
    -webkit-transition: left .3s ease, width .3s ease;
    transition: left .3s ease, width .3s ease;
}
.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-wrapper a {
    text-decoration: none;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.sidebar-wrapper .sidebar-item {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.sidebar-wrapper .sidebar-content {
    max-height: calc(100% -35px);
    height: calc(100% - 35px);
    /* width: 100%; */
    overflow-y: ;
    position: relative;
}
.sidebar-wrapper .sidebar-content.desktop {
    overflow-y: hidden;
}
.sidebar-wrapper .badge {
    border-radius: 0;
}
.sidebar-bg .sidebar-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sidebar-bg .sidebar-wrapper:before {
    /* content: ''; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.sidebar-wrapper .sidebar-brand {
    padding: 1rem 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 7%;
}
.sidebar-wrapper .sidebar-brand>a {
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic {
    width: 60px;
    padding: 2px;
    margin-right: 15px;
    overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.sidebar-wrapper .sidebar-header .user-info {
    overflow: hidden;
}
.sidebar-wrapper .sidebar-header .user-info>span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
}
.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #5cb85c;
}
.sidebar-wrapper .sidebar-search>div {
    padding: 1rem 1.2rem;
}
.sidebar-wrapper .sidebar-search input {
    border-radius: 0;
}
.sidebar-wrapper .sidebar-search .input-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.sidebar-wrapper .sidebar-search .input-group-append .input-group-text {
    border-radius: 0;
    border-left: 0;
}
.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
}
.sidebar-wrapper .sidebar-menu ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
    width: 100%;
}
.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    display: inline-block;
    -webkit-animation: swing ease-in-out .5s 1 alternate;
    animation: swing ease-in-out .5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.sidebar-wrapper .sidebar-menu ul li a .menu-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
    display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 8px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge, .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    margin-left: auto;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15px;
}
.sidebar-wrapper .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sidebar-wrapper .sidebar-footer>div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    height: 35px;
    line-height: 35px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sidebar-wrapper .sidebar-footer>div>a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.sidebar-wrapper .sidebar-footer>div a .notification {
    position: absolute;
    top: 0;
}
.sidebar-wrapper .sidebar-footer>div.pinned-footer {
    display: none;
}
.sidebar-wrapper .sidebar-footer .dropdown-menu {
    bottom: 36px;
    left: 0 !important;
    top: initial !important;
    right: 0;
    -webkit-transform: none !important;
    transform: none !important;
    border-radius: 0;
    font-size: .9rem;
}
.bodyMenu {
    /* font-size: .9rem; */
    font-family: Helvetica, Arial, sans-serif;
}
/*----------------page-wrapper----------------*/

.page-content {
    /*padding: 10%;*/
}
.page-wrapper {
    padding: 10px;
    padding-top: 50px;
}
.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
}
.page-wrapper .page-content .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #1d1d1d;
    opacity: .5;
    display: none;
}
.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}
.page-wrapper.toggled {
    padding: 30px;
    padding-top: 50px;
}
@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 260px;
    }
}
@media screen and (max-width: 768px) {
    .page-wrapper.toggled .page-content .overlay {
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .page-wrapper.toggled.pinned .page-content {
        padding-left: 80px;
    }
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
    width: 80px;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    padding: 0px;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic {
    margin: 0 auto;
    width: 50px;
    float: none;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic img {
    margin: auto;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search input, .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-info, .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .header-menu, .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .sidebar-submenu, .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul>li>a>span, .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul>li>a::after, .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer>div:not(.pinned-footer) {
    display: none !important;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search .input-group-text {
    height: 35px;
}
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer>div.pinned-footer {
    display: block;
}
.page-wrapper .mCSB_scrollTools {
    width: 6px;
}
.page-wrapper .mCSB_inside>.mCSB_container {
    margin-right: 0px;
}
/*----------------Animaciones del Menu----------------*/

/* agregados por M*/

.BotonMenu {
    height: 80%;
    width: 80%;
    padding: 2% 2% 2% 2%;
}
.BotonMenu:hover {
    height: 80%;
    width: 80%;
    padding: 1%;
}
.sidebar-wrapper .sidebar-brand #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}
.sidebar-wrapper .sidebar-brand #close-sideba {
    cursor: pointer;
    font-size: 20px;
}
#show-sidebar, #close-sidebar, #close-sideba {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 110;
}
.page-wrapper.toggled #show-sidebar {
    left: -60px;
}
.navbar-light {
    background-color: #083850;
    position: fixed;
    width: 100%;
    height: 8.4%;
    z-index: 100;
}
.botonsalirMenu {
    border-color: #083850;
    color: red;
    width: 100%;
    height: 100%;
}
.botonsalirMenu:hover {
    border-color: #083850;
    color: #fff;
    background: #083850;
}
.capitaBoton {
    text-align: center;
    padding: 10px;
}
.capitaimg {
    background-image: url(../img/capita.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    background-position: center;
}
.btn-dark {
    color: #fff;
    background-color: #083850;
    border-color: #083850;
}
.btn-dark:hover {
    color: #22ff16;
    background-color: #083850;
    border-color: #083850;
}
/* agregados por M*/

.default-theme .sidebar-wrapper {
    background-color: #083850;
}
.default-theme .sidebar-wrapper .sidebar-item {
    border-top: 1px solid #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-item:first-child {
    border-top: none;
}
.default-theme .sidebar-wrapper a:not(.dropdown-item), .default-theme .sidebar-wrapper .sidebar-header, .default-theme .sidebar-wrapper .sidebar-search input, .default-theme .sidebar-wrapper .sidebar-search i {
    color: #adadad;
}
.default-theme .sidebar-wrapper a:not(.dropdown-item):hover, .default-theme .sidebar-wrapper .sidebar-menu li.active>a {
    color: #d8d8d8;
}
.default-theme .sidebar-wrapper .sidebar-search input.search-menu, .default-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: #2b2b2b;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 1px;
}
.default-theme .sidebar-wrapper .sidebar-menu a:hover i, .default-theme .sidebar-wrapper .sidebar-menu a:hover:before, .default-theme .sidebar-wrapper .sidebar-menu li.active a i {
    color: #12f512;
    display: inline-block;
    -webkit-animation: swing ease-in-out .5s 1 alternate;
    animation: swing ease-in-out .5s 1 alternate;
}
.default-theme .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #868686;
}
.default-theme .sidebar-wrapper .sidebar-footer {
    background-color: #2b2b2b;
    -webkit-box-shadow: 0px -1px 5px #1d1d1d;
    box-shadow: 0px -1px 5px #1d1d1d;
    border-top: 1px solid #2b2b2b;
}
.default-theme .sidebar-wrapper .sidebar-footer>div:first-child {
    border-left: none;
}
.default-theme .sidebar-wrapper .sidebar-footer>div:last-child {
    border-right: none;
}
.default-theme.toggled #close-sidebar {
    color: #adadad;
}
.default-theme.toggled #close-sidebar:hover {
    color: #d3ded3;
}
.default-theme.toggled #close-sideba {
    color: #adadad;
}
.default-theme.toggled #close-sideba:hover {
    color: #ffffff;
}
.default-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .default-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .default-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #476dad;
    border-radius: 0;
}
.default-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}
.default-theme.sidebar-bg .sidebar-wrapper:before {
    background-color: rgba(35, 33, 183, 0.9);
}
.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item), .default-theme.sidebar-bg .sidebar-wrapper .sidebar-header, .default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input, .default-theme.sidebar-bg .sidebar-wrapper .sidebar-search i:hover {
    color: #c7c7c7;
    /* display: inline-block; */
    /* -webkit-animation: swing ease-in-out .5s 1 alternate; */
    animation: swing ease-in-out .5s 1 alternate;
}
.default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover, .default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active>a {
    color: #fbfbfb;
}
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
    border-color: #454545;
}
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu, .default-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(81, 81, 81, 0.5);
}
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: rgba(81, 81, 81, 0.5);
}
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
    background-color: rgba(56, 56, 56, 0.5);
    -webkit-box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
    box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
    border-top: 1px solid #383838;
}
/*Estilos para barra de tabla*/

@media screen and (max-width: 2000px) {
    table {
        /* display: block; */
        overflow-x: auto;
    }
}
/*Estilos de boton para descargar*/

#wrap {
    margin: 20px auto;
    text-align: center;
}
#wrap br {
    display: none;
}
.btn-slide, .btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}
.btn-slide2 {
    border: 2px solid #efa666;
}
.btn-slide:hover {
    background-color: #0099cc;
}
.btn-slide2:hover {
    background-color: #efa666;
}
.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}
.btn-slide2:hover span.circle2 {
    color: #efa666;
}
.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}
.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}
.btn-slide span.circle, .btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}
.btn-slide2 span.circle2 {
    background-color: #efa666;
}
.btn-slide span.title, .btn-slide span.title-hover, .btn-slide2 span.title2, .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}
.btn-slide2 span.title2, .btn-slide2 span.title-hover2 {
    color: #efa666;
    left: 80px;
}
.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}
.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
    color: #fff;
}
.ModalWindow-container {
    margin: 5vh auto 0;
    width: 60%;
    background-color: #FFF;
}
.ModalWindow-heading {
    padding: 0 1rem;
    background-color: var(--bg-color);
    color: #FFF;
}
.ModalWindow-content {
    padding: 1rem;
}
.u-flexColumnCenter {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.u-show {
    display: initial;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}
/*ventana emergente*/

.lightbox {
    display: none;
}
/* lightbox abierto */

.lightbox:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Contenido de Lightbox */

.lightbox figcaption {
    width: 25rem;
    position: relative;
    padding: 1.5em;
    background-color: lightpink;
}
/* BotÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â³n Cerrar */

.lightbox .close {
    position: relative;
    display: block;
}
/* superposiciÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â³n Lightbox */

.lightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    cursor: default;
}
/*ventana emergente*/

.lightbox2 {
    display: none;
}
/* lightbox abierto */

.lightbox2:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Contenido de Lightbox */

.lightbox2 figcaption {
    width: 25rem;
    position: relative;
    padding: 1.5em;
    background-color: lightpink;
}
/* BotÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â³n Cerrar */

.lightbox2 .close {
    position: relative;
    display: block;
}
/* superposiciÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â³n Lightbox */

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* Css modal y input file*/

body {
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
/* Set a style for all buttons */

button {
    background-color: #2199be;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity: 1;
}
/* Float cancel and delete buttons and add an equal width */

.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}
/* Add a color to the cancel button */

.cancelbtn {
    background-color: #ccc;
    color: black;
}
/* Add a color to the delete button */

.deletebtn {
    background-color: #2199be;
}
/* Add padding and center-align text to the container */

.container {
    padding: 16px;
    text-align: center;
}
/* The Modal (background) */

.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5da1;
    padding-top: 10px;
}
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5da1;
    padding-top: 70px;
}
/* Modal Content/Box */

.modal1-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%;
    /* Could be more or less, depending on screen size */
}
.modal2-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%;
    /* Could be more or less, depending on screen size */
}
/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* The Modal Close Button (x) */

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
.close:hover, .close:focus {
    color: #d1d1d1;
    cursor: pointer;
}
/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Change styles for cancel button and delete button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}
.invoiceBox>input, .invoiceBox2>input {
    display: none;
}
.invoiceBox label, .invoiceBox2 label {
    display: block;
}
.boxFile, .boxFile2 {
    display: inline-block;
    width: 100%;
    border: 1px solid #00abc8;
    background: #fff;
    color: #00abc8;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.boxFile:hover, .boxFile2:hover {
    cursor: pointer;
    background: #00abc8;
    color: #fff;
}
.boxFile i, .boxFile2 i {
    display: block;
    font-size: 26px;
    margin-bottom: 5px;
}
.attached, .attached:hover, .attached:focus {
    background: #00abc8;
    color: #fff;
    border: 1px solid #00abc8;
}